<section id="previousEvents">
    <div class="container-fluid">
        <div class="section-header text-center">
            <h3>Previous Events</h3>
            <p class="mb-1">
                See what we did in the past.
            </p>
            <p class="mb-1">
                Take a look at <a href="https://2022.devconf.pl">2022</a>, 
                check out <a href="https://photos.app.goo.gl/LRV1uCu5Gc7mNto9A">the full gallery</a> 
                or see our <a href="https://www.youtube.com/watch?v=FWY73Dt38EA">short video clip</a>.
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="gallery">
                    <%= partial("photo_gallery_item", :locals => { :id => 1 }) %>
                    <%= partial("photo_gallery_item", :locals => { :id => 4 }) %>
                    <%= partial("photo_gallery_item", :locals => { :id => 7 }) %>
                    <%= partial("photo_gallery_item", :locals => { :id => 9 }) %>
                    <%= partial("photo_gallery_item", :locals => { :id => 10 }) %>
                    <%= partial("photo_gallery_item", :locals => { :id => 11 }) %>
                    <%= partial("photo_gallery_item", :locals => { :id => 12 }) %>
                    <%= partial("photo_gallery_item", :locals => { :id => 13 }) %>
                    <%= partial("photo_gallery_item", :locals => { :id => 14 }) %>
                    <%= partial("photo_gallery_item", :locals => { :id => 15 }) %>
                    <%= partial("photo_gallery_item", :locals => { :id => 18 }) %>
                    <%= partial("photo_gallery_item", :locals => { :id => 19 }) %>
                </div>
            </div>
        </div>
    </div>
</section>